@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neu';
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: black; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;   /*relative parent*/
    padding: 0 2vw;
    /* background-color: red;; */
}

nav {
    /* height: 100px; */
    padding: 1.5vw 0vw; /* vw is viw port width */
    width: 100%;
    /* background-color: red; */
    display: flex;  /* for making div content in line */
    align-items: center; /* content will come in center */
    justify-content: space-between; /* content will take space between and it will move to both end */
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw; /* Gap between elements */
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #000000ad;
    border-radius: 50px;
    font-weight: 500;
    color: #000000d1;
    transition: all ease 0.5s;
    position: relative; /* making element position proper */
    font-size: 18px;
    overflow: hidden; /* This is for hidden animation in nav bar */
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.5s; /* Animation for menu in top black animation */
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: white; /* after taking cursor on menu it will change color for font to white */
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    /* font-family: inter; */
    line-height: 2vw; /* space between two lines */
}

#center h1 {
    font-size: 9vw;
    text-align: right;
    line-height: 8vw;
    color: #1c1a1a;
    position: relative;
    z-index: 10;
}

#page1 video {
    position: relative;
    margin-top: 4vw;
    border-radius: 30px;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FE320A;
    /* border-radius: 50%; */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter:blur(20px)
}

#hero-2 {
    background: linear-gradient(#FE320A,#fe330ad3) ;
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    filter:blur(20px);
    /* Animation  */
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#hero-3 {
    background: linear-gradient(#FE320A,#fe330ad3) ;
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    filter:blur(25px);
    /* Animation  */
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }
    to {
        transform: translate(10%, -10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%, 20%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
    padding-top: 7vw;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}
.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
    /* background-color: lightblue; */
}

.round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 60vh;
    width: 100%;
    /* background-color: lightblue; */
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9; /* this used to show on top on circle */
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 30%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    margin-top: 2vw;
    font-weight: 200;
    font-size: 1vw;
}

#page2 #page-circle {
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#ff0000, #fe530a);
    top: 58%;
    left: 25%;
    filter: blur(20px);

    /* animation */
    animation-name: page2circle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes page2circle {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    padding-top: 5vw;
    background-color: #EFEAE3;
}

.elem {
    height: 130px;
    width: 100%;
    position: relative;
    /* background-color: red; */
    border-top: 1px solid #706c6c;
    border-bottom: 1px solid #706c6c;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

#elem-container {
    /* background-color: red; */
}

#fixed-image {
    height: 40vw;
    width: 34vw;
    /* background-color: red; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 10%;
    display: none;
    background-image: cover;
    background-position: center;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 60%;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}

#page5 {
    height: 100vh;
    width: 100%;
}

#footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to top left,black, #FE320A);;
    color: #fff;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 0vw;
}

#footer h1 {
    /* background-color: black */
    font-size: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: #FE320A;
    display: flex;
    align-items: center;
    justify-content: center;
    /* New  */
    filter: blur(20px);
    animation-name: footer-anime;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: top right;
}

/* New  */
@keyframes footer-anime {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#footer-div1 {
    height: 50vh;
    width: 100%;
    background: linear-gradient(#FE320A);

    /* New  */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 50%;
    filter: blur(30px);
}


#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}

